/* general styling for the body */
body{
    text-align: center;
    font-size: xx-large;
    background-color: #000000;
    color: #ffffff;
}

#title{
    display: block;
}

/* styling for the gameBoard and gameGrid */
#gameBoard{
    padding: 1px;
    background-color: #ffffff;
}

#gameGrid{
    margin: 0 auto;
}


/* all of the gameBoard table stylings */
table {
    background-color: white;
    border-spacing: inherit;
}
tr{
    background-color: rgb(0, 0, 0);
}
td {
    /* border: 1px solid rgb(0, 0, 0); */
    border: none;
    width: 8px;
    height: 8px;
    cursor: crosshair;
}

/* styling for dead or active cell */
td.inactive{
    background-color: rgb(0, 0, 0);
}
td.active{
    background-color: rgb(255, 255, 255);
}

/* does the styling for the button and game container and the generation text block */
#buttonsAndGame{
    display: inline-flex;
}

#buttonRow{
    margin: auto 0;   
    padding-right: 10px;
}

#gameDiv{
    width: 75%;
}

#generation{
    padding-top: 1%;
    margin: 0 5px;
}


/* does the styling for the row of buttons */

#left-col{
    display: grid;
}

#right-col{
    display: grid;
}


/* Does the button styling for the site */
.button {
    background-color: #000000; 
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #433443;
    color: white;
}
  
.button a{
    text-decoration: none;
    color: white;
}


/* Does the validation styling for the site */
#w3c{
    position: fixed;
    bottom: 0;
    right: 0;
}

/* does the styling for the gifs*/
#gif{
    max-width: 300px;
    height: 300px;
}

.audio{
    opacity: .3;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
}

.main{
    padding: 2% 0;
    margin: 0 auto;
}

.main .button{
    background-color: #4f063a; 
}

.buttons {
    background-color: #4f063a; 
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.buttons:hover {
    background-color: #0e0e0e;
    color: white;
}
  
.buttons a{
    text-decoration: none;
    color: white;
}

.dropdown-content{
    background-color: #0e0e0e;
    position: absolute;
    box-shadow: 0px 8px 16px 0px #433443;
    transition: all 1.5s ease;
    height: 0;
    overflow: hidden;
}

.dropdown-content .button{
    width: 300px;
}

.dropdown:hover .dropdown-content{
    /*height: 250px;*/
    /*display: block;*/
    height: 250px;
}

.dropdown {
    position: relative;
}

#dropbutton{
    width: 300px;
}

.smallbutton{
    background-color: #000000; 
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 2px 3px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.smallbutton:hover {
    background-color: #433443;
    color: white;
}

.dropdown2:hover .dropdown-content-still{
    height: 100px;
}

.dropdown3:hover .dropdown-content-osc{
    height: 100px;
}

.dropdown4:hover .dropdown-content-ship{
    height: 50px;
}

.dropdown-content-still{
   
   transition: all 1.5s ease;
   height: 0;
   overflow: hidden;
}

.dropdown-content-osc{
   
   transition: all 1.5s ease;
   height: 0;
   overflow: hidden;
}

.dropdown-content-ship{
    
    transition: all 1.5s ease;
    height: 0;
    overflow: hidden;
}
