/* general styling for the body */
body{
    text-align: center;
    font-size: xx-large;
    background-color: #cea56f;
}


/* styling for the gameBoard and gameGrid */
#gameBoard{
    padding: 10px;

}

#gameGrid{
    margin: 0 auto;
}


/* all of the gameBoard table stylings */
table {
    background-color: white;
    border-spacing: inherit;
}
tr{
    background-color: rgb(255, 255, 255);
}
td {
    border: 0px solid rgb(162, 36, 36);
    width: 10px;
    height: 10px;
}

/* styling for dead or active cell */
td.inactive{
    background-color: white;
}
td.active{
    background-color: black;
}

/* does the styling for the generation text block */
#generation{
    padding-top: 2%;
    margin: 0 5px;
}


/* Does the button styling for the site */
.button {
    background-color: #875b76; 
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #44333e;
    color: white;
}
  
.button a{
      text-decoration: none;
      color: white;
}


/* Does the validation styling for the site */
#w3c{
    position: fixed;
    bottom: 0;
    right: 0;
}